# Firebase App Check reCAPTCHA Enterprise Site Key
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=6LdyEJgtAAAAALu6JxdBYkEO7qyg6g5MkZhBcc21

# Optional: Local Dev App Check Debug Token
# VITE_APP_CHECK_DEBUG_TOKEN=
